/* default stuff */
*{
    box-sizing: border-box;
    margin: 0;
}

/* applies to the html */
/* space to declare custom variables */
:root{
    --colour-one: rgb(63, 48, 90);
    --colour-two: rgb(63, 48, 90);
    --colour-three: rgb(217, 221, 198);
    --colour-four: rgb(240,240,240);
    --colour-five: rgb(255, 105, 86);
    --colour-six: rgb(226, 64, 42);
    --border-one: solid 3px rgb(63, 48, 90);
    --border-two: hidden 2px

    /* attempted to accurately obtain colours from the reference 
    Using variables to keep coding easy and neat*/
    
}

/* main page grid broken into 5x7 */
#grid-container-bg{
    background-color: var(--colour-four);
    width: 71vh;
    height: 100vh;
    /* used vh to ensure accessibilty for users depending on the screen resolution used */
    margin: 0 auto; /* 0 top and bottom, auto left and right margins */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ; /* fr means fraction */   
}

/* 
GRID STYLES
Some are named after colours such as lgrey meaning light grey and dred as dark red,
while some are abbreviated to make it easier to type eg. grid-item-brr (brr meaning
bottom right rounded) or grid-item-tr (tr meaning top right).
*/
.grid-item-one{
    border: var(--border-two);
}

.grid-item-blank{
    background-color: var(--colour-three);
    border: var(--border-two)
}

.grid-item-red{
    background-color: var(--colour-five);
    border: var(--border-one)
}

.grid-item-dred{
    background-color: var(--colour-six);
    border: var(--border-one)
}

.grid-item-white{
    background-color: var(--colour-four);
    border: var(--border-two);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

/* SOME PANELS include gradients to test out and experiment how the colours 
can more closely line up with the reference */

.grid-item-top{
    border: solid 6px var(--colour-one);
    border-right-color: transparent;
    border-bottom-color: var(--colour-three); 
    /* transparent would produce a dark colour therefore I used RGB values to
    match the lighter colour of the gradient, this pattern will be noticed with
    every gradient style*/
    border-left-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: linear-gradient(rgb(151, 151, 142), rgb(217, 221, 198));
    /* gradient chosen to imitate the main colours from the reference in a minimal manner */
}

.grid-item-bottom{
    border: solid 6px var(--colour-one);
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: linear-gradient();
}

.grid-item-tb{
    border: solid 6px var(--colour-one);
    border-left-color: transparent;
    border-right-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: radial-gradient(circle, rgb(255, 105, 86) 5%,rgb(217, 221, 198) 95%);
}

.grid-item-tl{
    background-color: var(--colour-three);
    border: solid 6px var(--colour-one);
    border-right-color: var(--colour-three);
    border-bottom-color: var(--colour-three);
    /* see line 90 */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: linear-gradient(to bottom right, rgb(151, 151, 142),rgb(151, 151, 142), rgb(217, 221, 198));
}

.grid-item-left{
    border: solid 6px var(--colour-one);
    border-right-color: var(--colour-three);
    /* see line 90 */
    border-bottom-color: transparent;
    border-top-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: linear-gradient(to right, rgb(151, 151, 142),rgb(151, 151, 142), rgb(217, 221, 198));

}

.grid-item-right{
    background-color: var(--colour-three);
    border: solid 6px var(--colour-one);
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-item-lr{
    border: solid 6px var(--colour-one);
    border-bottom-color: transparent;
    border-top-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: radial-gradient(circle, rgb(255, 105, 86) 5%,rgb(217, 221, 198) 95%);
}

.grid-item-trr{
    border: var(--border-two);
    border-top-right-radius: 50px;
    border: solid 6px var(--colour-one);
    border-left-color: rgb(217, 221, 198);
    border-bottom-color: rgb(217, 221, 198);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;    
    background-image: linear-gradient(to bottom left, rgb(255, 105, 86), rgb(217, 221, 198));
}

.grid-item-trr-a{
    border: var(--border-two);
    border-top-right-radius: 50px;
    border: solid 6px var(--colour-one);
    border-left-color: var(--colour-three);
    border-bottom-color: var(--colour-three);
    /* see line 90 */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: linear-gradient(to bottom left, rgb(151, 151, 142), rgb(217, 221, 198));
}

.grid-item-tlr{
    border: var(--border-two);
    border-top-left-radius: 50px;
    border: solid 6px var(--colour-one);
    border-right-color: var(--colour-three);
    border-bottom-color: var(--colour-three);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: linear-gradient(to bottom right, rgb(255, 105, 86), rgb(217, 221, 198));
}

.grid-item-brr{
    border: var(--border-two);
    border-bottom-right-radius: 50px;
    border: solid 6px var(--colour-one);
    border-left-color: var(--colour-three);
    border-top-color: var(--colour-three);  
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
    background-image: linear-gradient(to top left, rgb(255, 105, 86), rgb(217, 221, 198));
}

.grid-item-blr{
    border: var(--border-two);
    border-bottom-left-radius: 50px;
    border: solid 6px var(--colour-one);
    border-right-color: var(--colour-three);
    border-top-color: var(--colour-three);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: linear-gradient(to top right, rgb(255, 105, 86), rgb(217, 221, 198));
}

.grid-item-blr-a{
    border: var(--border-two);
    border-bottom-left-radius: 50px;
    border: solid 6px var(--colour-one);
    border-right-color: var(--colour-three) ;
    /* see line 90 */
    border-top-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: linear-gradient(to right, rgb(151, 151, 142),rgb(151, 151, 142), rgb(217, 221, 198));
}


/* grid to aid with panel placement 5x7 as reference's panels show a grid of similar dimensions */
#box-one{
    grid-column: 1/7;
    grid-row: 1/7;
    margin-top: 45px;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    gap: 5px;
}

#box-two{
    /* bottom container for bottom panels, 3x5*/
    grid-column: 1/7;
    grid-row: 4/7;
    margin-top: 90px; /* had to add to line up panels properly */
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 45px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#box-in{
    /* refers to the grid used for pixels within the panels in a 3x3 for simplicity */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}

/* guide to fractions: https://grid.layoutit.com */